/* Properties
CSS properties are used to apply styles to the selected elements. */

/* Color
Sets the color of text. */
color: blue;

/* Background
Sets the background of an element. */
background-color: yellow;

/* Font
Sets the font properties of text. */
font-family: Arial, sans-serif;
font-size: 16px;
font-weight: bold;

/* Text
Sets the text properties of an element. */
text-align: center;
text-decoration: underline;
text-transform: uppercase;

/* Border
Sets the border of an element. */

border: 1px solid black;
/* Margin
Sets the outer space around an element. */
margin: 10px;

/* Padding
Sets the inner space within an element. */
padding: 10px;
